///* *********  tables styling  ******************************* */

.dataTables_info {
  //width: 60%;
  float: right;
}

///* *********  /tables styling  ****************************** */

.w5c-error {
  color: #b94a48;
  display: block;
  margin-top: 5px;
}