<ion-view view-title="Dashboard">
   <ion-content class="padding">

      <h2>Welcome to Dashboard</h2>

      <a ui-sref="login">go to login</a>
      <br>
      <!--<a ui-sref="app.chat">go to chat</a>-->
      <button class="button button-calm" ng-click="vm.go()">
         button-calm
      </button>

      <a ui-sref="login">go to login</a>
      <br>
      <!--<a ui-sref="app.chat">go to chat</a>-->
      <button class="button button-calm" ng-click="vm.go()">
         button-calm
      </button>

      <input type="text" placeholder="搜索" >
      <div class="list">
         <label class="item item-input">
            <input type="text" placeholder="id" ng-model="vm.greeting.id" >
         </label>
         <label class="item item-input">
            <input type="text" placeholder="content" ng-model="vm.greeting.content">
         </label>
         <label class="item item-input">
            <textarea placeholder="Comments" ng-model="vm.Comments" ></textarea>
         </label>
      </div>
      <!--<ion-footer-bar align-title="left" class="bar-assertive">-->
      <!--<div class="buttons">-->
      <!--<button class="button">左侧按钮</button>-->
      <!--</div>-->
      <!--<h1 class="title">Title!</h1>-->
      <!--<div class="buttons" ng-click="doSomething()">-->
      <!--<button class="button">右侧按钮</button>-->
      <!--</div>-->
      <!--</ion-footer-bar>-->

      <input type="text" placeholder="搜索" >
      <div class="list">
         <label class="item item-input">
            <input type="text" placeholder="id" ng-model="vm.greeting.id" >
         </label>
         <label class="item item-input">
            <input type="text" placeholder="content" ng-model="vm.greeting.content">
         </label>
         <label class="item item-input">
            <textarea placeholder="Comments" ng-model="vm.Comments" ></textarea>
         </label>
      </div>


   </ion-content>
   <!--<ion-footer-bar align-title="left" class="bar-assertive">-->
      <!--<div class="buttons">-->
         <!--<button class="button">左侧按钮</button>-->
      <!--</div>-->
      <!--<h1 class="title">Title!</h1>-->
      <!--<div class="buttons" ng-click="doSomething()">-->
         <!--<button class="button">右侧按钮</button>-->
      <!--</div>-->
   <!--</ion-footer-bar>-->
</ion-view>
