<ion-view view-title="Login">


    <ion-content class="padding">

        <div class="item item-assertive" ng-show="vm.error">
            用户名或密码错误，请重新输入！
        </div>

        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="用户名" ng-model="vm.credentials.username">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="密码" ng-model="vm.credentials.password">
            </label>
        </div>
        <button class="button button-block button-calm" ng-click="vm.login()">登陆</button>


    </ion-content>


</ion-view>